In [52]:
#Домашнее задание к лекции "Базовые понятия статистики"
#Обязательная часть
#Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики.

#Задание 1. Базовое изучение
#Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения 
#(среди них должны быть как числовые, так и категориальные). #Провести расчет базовых метрик для них, кратко описать результаты.
import numpy as np
import pandas as pd
import re
from pandas import DataFrame as df
df = pd.read_csv('horse_data.csv', na_values = '?') # при чтении файла сразу заменяю знаки вопроса на NaN привожу к единообразию
#примечание знак ? можно было б заменить методом replace и через регулярные выражения
#к примеру df['66']=df['66'].replace(r'\?{1}', 66, regex=True) 
df.head(10)

,2,1,530101,38.50,66,28,3,3.1,?,2.1,...,45.00,8.40,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
1,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
2,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
3,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
4,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2
5,1.0,1,526802,37.9,48.0,16.0,1.0,1.0,1.0,1.0,...,37.0,7.0,NaN,NaN,1.0,1,3124,0,0,2
6,1.0,1,529607,NaN,60.0,NaN,3.0,NaN,NaN,1.0,...,44.0,8.3,NaN,NaN,2.0,1,2208,0,0,2
7,2.0,1,530051,NaN,80.0,36.0,3.0,4.0,3.0,1.0,...,38.0,6.2,NaN,NaN,3.0,1,3205,0,0,2
8,2.0,9,5299629,38.3,90.0,NaN,1.0,NaN,1.0,1.0,...,40.0,6.2,1.0,2.2,1.0,2,0,0,0,1
9,1.0,1,528548,38.1,66.0,12.0,3.0,3.0,5.0,1.0,...,44.0,6.0,2.0,3.6,1.0,1,2124,0,0,1

In [19]:
df.info() # просматриваем информацию, содержащуюся в файле
#видим, что данные состоят из 28 столбцов, качественные данные это столбец "1"(#1), "530101"(#2), "2.3"(#23)
"11300"(#24), "00000"(#25), "00000.1"(#26), "2.4"(#27), количественные данные находятся в остальных столбцах#

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   2            298 non-null    float64
 1   1            299 non-null    int64
 2   530101       299 non-null    int64
 3   temperature  239 non-null    float64
 4   puls         275 non-null    float64
 5   breath       241 non-null    float64
 6   3            243 non-null    float64
 7   3.1          230 non-null    float64
 8   ?            253 non-null    float64
 9   2.1          267 non-null    float64
 10  5            244 non-null    float64
 11  4            255 non-null    float64
 12  4.1          243 non-null    float64
 13  ?.1          196 non-null    float64
 14  ?.2          194 non-null    float64
 15  ?.3          53 non-null     float64
 16  3.2          197 non-null    float64
 17  5.1          181 non-null    float64
 18  puls joung   270 non-null    float64
 19  eat          266 non-null    float64
 20  ?.4          135 non-null    float64
 21  ?.5          102 non-null    float64
 22  2.2          298 non-null    float64
 23  2.3          299 non-null    int64
 24  11300        299 non-null    int64
 25  00000        299 non-null    int64
 26  00000.1      299 non-null    int64
 27  2.4          299 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.5 KB

' видим, что данные состоят из 28 столбцов, качественные данные это столбец "1"(#1), "530101"(#2), "2.3"(#23)\n"11300"(#24), "00000"(#25), "00000.1"(#26), "2.4"(#27), количественные данные находятся в остальных столбцах'

In [ ]:
# Для изучения беру столюбцы 2	1	530101	38.50	66	28	
'''предполагаю, что названия столбцов обозначают "эталлонные=нормативные" значения
38.50 °С- температура тела лошади
66 ударов пульс в минуту
28 дыхательных движений в минуту
8.4 кг норматив съеденного сена в день'''
# переименовываю столбцы для удобства

In [55]:
df= df.rename(columns = {'38.50': 'temperature'}) #заменяем на температура

In [56]:
df = df.rename(columns = {'66': 'puls'}) # заменяем на пульс

In [57]:
df = df.rename(columns = {'45.00': 'otherpuls'}) # заменяем на пульс - другой способ замера пульса

In [58]:
df = df.rename(columns = {'28': 'breath'}) # Заменяем на дыхание

In [59]:
df = df.rename(columns = {'8.40': 'eat'}) # заменяем на еда

In [60]:
df.head(20)

,2,1,530101,temperature,puls,breath,3,3.1,?,2.1,...,otherpuls,eat,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
1,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
2,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
3,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
4,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2
5,1.0,1,526802,37.9,48.0,16.0,1.0,1.0,1.0,1.0,...,37.0,7.0,NaN,NaN,1.0,1,3124,0,0,2
6,1.0,1,529607,NaN,60.0,NaN,3.0,NaN,NaN,1.0,...,44.0,8.3,NaN,NaN,2.0,1,2208,0,0,2
7,2.0,1,530051,NaN,80.0,36.0,3.0,4.0,3.0,1.0,...,38.0,6.2,NaN,NaN,3.0,1,3205,0,0,2
8,2.0,9,5299629,38.3,90.0,NaN,1.0,NaN,1.0,1.0,...,40.0,6.2,1.0,2.2,1.0,2,0,0,0,1
9,1.0,1,528548,38.1,66.0,12.0,3.0,3.0,5.0,1.0,...,44.0,6.0,2.0,3.6,1.0,1,2124,0,0,1
10,2.0,1,527927,39.1,72.0,52.0,2.0,NaN,2.0,1.0,...,50.0,7.8,NaN,NaN,1.0,1,2111,0,0,2
11,1.0,1,528031,37.2,42.0,12.0,2.0,1.0,1.0,1.0,...,NaN,7.0,NaN,NaN,1.0,2,4124,0,0,2
12,2.0,9,5291329,38.0,92.0,28.0,1.0,1.0,2.0,1.0,...,37.0,6.1,1.0,NaN,2.0,2,0,0,0,1
13,1.0,1,534917,38.2,76.0,28.0,3.0,1.0,1.0,1.0,...,46.0,81.0,1.0,2.0,1.0,1,2112,0,0,2
14,1.0,1,530233,37.6,96.0,48.0,3.0,1.0,4.0,1.0,...,45.0,6.8,NaN,NaN,2.0,1,3207,0,0,2
15,1.0,9,5301219,NaN,128.0,36.0,3.0,3.0,4.0,2.0,...,53.0,7.8,3.0,4.7,2.0,2,1400,0,0,1
16,2.0,1,526639,37.5,48.0,24.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2
17,1.0,1,5290481,37.6,64.0,21.0,1.0,1.0,2.0,1.0,...,40.0,7.0,1.0,NaN,1.0,1,4205,0,0,1
18,2.0,1,532110,39.4,110.0,35.0,4.0,3.0,6.0,NaN,...,55.0,8.7,NaN,NaN,1.0,2,0,0,0,2
19,1.0,1,530157,39.9,72.0,60.0,1.0,1.0,5.0,2.0,...,46.0,6.1,2.0,NaN,1.0,1,2111,0,0,2

In [51]:
df.describe() # смотрим "разрез" по данным описание, по квартилям

,2,1,530101,temperature,puls,breath,3,3.1,?,2.1,...,puls joung,eat,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
count,298.000000,299.00000,2.990000e+02,239.000000,275.000000,241.000000,243.000000,230.000000,253.000000,267.000000,...,270.000000,266.000000,135.000000,102.000000,298.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,1.395973,1.64214,1.087748e+06,38.166527,71.934545,30.427386,2.345679,2.013043,2.853755,1.303371,...,46.300000,24.517293,2.037037,3.019608,1.550336,1.361204,3632.321070,90.528428,7.387960,1.668896
std,0.489881,2.17730,1.532026e+06,0.733508,28.680522,17.678256,1.046369,1.042672,1.620294,0.476623,...,10.438384,27.509056,0.804905,1.968567,0.737967,0.481155,5390.356722,650.637139,127.749768,0.471399
min,1.000000,1.00000,5.184760e+05,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000,1.000000,...,23.000000,3.300000,1.000000,0.100000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,1.00000,5.289040e+05,37.800000,48.000000,18.000000,1.000000,1.000000,1.000000,1.000000,...,38.000000,6.500000,1.000000,2.000000,1.000000,1.000000,2111.500000,0.000000,0.000000,1.000000
50%,1.000000,1.00000,5.303100e+05,38.200000,64.000000,24.000000,3.000000,1.500000,3.000000,1.000000,...,45.000000,7.500000,2.000000,2.250000,1.000000,1.000000,2322.000000,0.000000,0.000000,2.000000
75%,2.000000,1.00000,5.347360e+05,38.500000,88.000000,36.000000,3.000000,3.000000,4.000000,2.000000,...,52.000000,57.000000,3.000000,3.900000,2.000000,2.000000,3209.000000,0.000000,0.000000,2.000000
max,2.000000,9.00000,5.305629e+06,40.800000,184.000000,96.000000,4.000000,4.000000,6.000000,3.000000,...,75.000000,89.000000,3.000000,10.100000,3.000000,2.000000,41110.000000,7111.000000,2209.000000,2.000000

In [ ]:
#Задание 2. Работа с выбросами
#В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. 
#Принять и обосновать решение о дальнейшей работе с ними.

In [17]:
df['temperature'].max() #находим максимальное значение температуры в столбце 'температура'. 
# Считаю, если в данных содержится информация о болеющих лошадях, то температура находится в допустимых как по максимуму, 
#так и по минимуму значений, именно для не здорового животного,
#эти нижние и верхние границы как раз и будут говорить о плохом самочувствии подопечных,
#и не считаю эти min/max значения столбца температура выбросами

40.8

In [18]:
df['temperature'].min() #находим минимальное значение температуры в столбце 'температура'

35.4

In [21]:
df['puls'].max() #находим максимальное значение в столбце 'puls'

184.0

In [22]:
df['puls'].min() #находим минимальное значение в столбце 'puls'

30.0

In [23]:
df['breath'].max() #находим максимальное значение в столбце 'breath'

96.0

In [24]:
df['breath'].min() #находим минимальное значение в столбце 'breath'

8.0

In [25]:
df['other puls'].max() #находим максимальное значение в столбце 'puls joung'

75.0

In [26]:
df['other puls'].min() #находим минимальное значение в столбце 'puls joung'

23.0

In [97]:
print(df.temperature.value_counts()) #посмотрим наиболее часто встречаемые значения по столбу температура.
#т.е у основной массы животных величина температуры укладывалась в стандартный диапазон, вероятно это те кто не испытвал колики.

38.2    76
38.0    26
38.5    18
38.3    18
37.8    17
38.1    12
37.5    12
38.6    12
38.4    11
37.6     7
37.7     7
37.2     7
38.7     7
37.9     7
37.3     6
38.8     6
39.2     5
38.9     4
39.5     4
39.0     4
39.3     4
37.4     3
37.1     3
39.4     3
36.5     2
37.0     2
39.1     2
40.3     2
39.6     1
36.4     1
40.8     1
36.8     1
40.0     1
36.0     1
36.9     1
39.9     1
35.4     1
36.6     1
39.7     1
36.1     1
Name: temperature, dtype: int64

In [103]:
print(df.breath.value_counts()) #посмотрим наиболее часто встречаемые значения по столбу дыхание

24.0    85
20.0    28
16.0    22
12.0    19
30.0    19
40.0    17
36.0    16
28.0    12
32.0    11
18.0     8
48.0     6
14.0     4
60.0     4
35.0     3
68.0     3
10.0     3
80.0     3
44.0     3
42.0     3
90.0     2
84.0     2
70.0     2
21.0     2
96.0     2
22.0     2
51.0     2
9.0      2
50.0     2
72.0     1
23.0     1
15.0     1
34.0     1
25.0     1
8.0      1
58.0     1
52.0     1
13.0     1
26.0     1
66.0     1
88.0     1
Name: breath, dtype: int64

In [104]:
print(df.puls.value_counts()) #посмотрим наиболее часто встречаемые значения по столбу дыхание

64.0     32
48.0     28
60.0     25
40.0     18
88.0     12
52.0     12
72.0     11
100.0    11
44.0     11
42.0     10
120.0    10
96.0      8
80.0      8
84.0      8
54.0      7
56.0      7
50.0      6
66.0      5
68.0      5
104.0     5
76.0      4
70.0      4
92.0      4
78.0      3
90.0      3
108.0     3
86.0      3
36.0      3
112.0     3
130.0     2
140.0     2
124.0     2
45.0      2
114.0     2
150.0     2
30.0      2
146.0     1
136.0     1
184.0     1
164.0     1
129.0     1
65.0      1
132.0     1
49.0      1
98.0      1
38.0      1
160.0     1
128.0     1
110.0     1
46.0      1
75.0      1
82.0      1
Name: puls, dtype: int64

In [ ]:
"""Считаю, что максимальные и минимальные значения выше расчитанных величин надо оставить 
неизменными и не считать их за выбросы. Так эти значения характеризуют шоковое состояние лошади. 
Либо гиподинамический, либо гипертонический, вызванный в том числе коликами 
или иным чрезмерным воздействием внешним или внутренним.
Шок у лошади  характеризуется нарастающим нарушением деятельности всех систем организма. 
При этом происходит нарушение жизнеобеспечения сердечно-сосудистой, дыхательной,
эндокринной, выводящей и других систем организма, и требует обязательной экстренной помощи со стороны человека.
Возможно в столбцах где присутствуют только цифры 1 или 2, это качественная характеристика,
показывающая были признаки колик у животного или нет"""

In [62]:
print(df.temperature.median())# находим медиану по температуре

38.2

In [63]:
print(df.puls.median())# находим медиану по пульсу

64.0

In [64]:
print(df.otherpuls.median())# находим медиану по пульсу другого измерения

45.0

In [65]:
print(df.breath.median())# находим медиану по дыханию

24.0

In [66]:
#СКО считаем для температуры
print(df.temperature.std())

0.7335083691537396

In [67]:
#СКО считаем для пульса
print(df.puls.std())

28.68052200365475

In [68]:
#СКО считаем для другого пульса
print(df.otherpuls.std())

10.438383557865423

In [69]:
#СКО считаем для дыхания
print(df.breath.std())

17.67825633053121

In [32]:
print(df.groupby('breath').median()) # группируем по медианному дыханию

          2    1     530101  temperature   puls    3  3.1    ?  2.1    5  ...  \
breath                                                                    ...
8.0     1.0  1.0   528742.0        37.10   40.0  NaN  1.0  4.0  1.0  3.0  ...
9.0     1.5  1.0   529822.5        37.65   40.0  2.0  1.0  1.0  1.0  2.0  ...
10.0    2.0  1.0   535176.0        38.30   44.0  3.0  1.0  1.0  1.0  3.0  ...
12.0    1.0  1.0   530001.0        37.80   48.0  2.0  1.0  1.5  1.0  3.0  ...
13.0    1.0  1.0   528800.0          NaN  112.0  4.0  4.0  4.0  1.0  2.0  ...
14.0    1.5  1.0   531049.0        38.80   49.0  2.0  1.0  1.0  1.0  3.0  ...
15.0    1.0  1.0   529888.0        37.90   60.0  3.0  NaN  4.0  2.0  5.0  ...
16.0    2.0  1.0   529799.0        38.25   48.0  2.0  1.0  1.0  1.0  2.0  ...
18.0    1.0  1.0   527928.0        38.20   51.0  1.0  1.0  2.0  1.0  3.0  ...
20.0    1.0  1.0   533435.0        38.15   56.0  3.0  1.0  3.0  1.0  3.0  ...
21.0    1.0  1.0  2910479.5        37.95   54.0  2.0  1.0  2.0  1.0  2.5  ...
22.0    1.0  1.0   531406.5        37.95   79.0  2.0  1.0  2.0  1.0  4.0  ...
23.0    1.0  1.0   529528.0        39.20    NaN  3.0  1.0  3.0  1.0  4.0  ...
24.0    1.0  1.0   530360.0        38.05   60.0  1.0  2.0  3.0  1.0  4.0  ...
25.0    2.0  1.0   534933.0        38.00   40.0  NaN  1.0  1.0  1.0  4.0  ...
26.0    2.0  1.0   528179.0        38.20   42.0  1.0  1.0  1.0  1.0  3.0  ...
28.0    1.0  1.0   529774.0        38.20   70.0  2.5  1.0  1.5  1.0  3.0  ...
30.0    1.0  1.0   529796.0        38.10   78.0  3.0  3.0  3.5  2.0  4.0  ...
32.0    2.0  1.0   533696.0        38.00   60.0  2.0  1.5  3.0  1.0  2.0  ...
34.0    1.0  1.0   521681.0        38.60   42.0  2.0  1.0  4.0  NaN  2.0  ...
35.0    2.0  1.0   530255.0        37.30  104.0  3.5  3.0  6.0  1.5  4.0  ...
36.0    1.0  1.0   529859.0        38.30   82.0  3.0  2.0  3.0  1.5  3.0  ...
40.0    1.0  1.0   534135.0        38.30   72.0  3.0  2.0  3.0  1.0  3.0  ...
42.0    2.0  1.0   529518.0        37.90   60.0  2.5  2.0  3.0  1.0  2.5  ...
44.0    1.0  1.0   528890.0        38.90   80.0  3.0  3.0  3.0  1.0  2.0  ...
48.0    1.0  1.0   532579.0        38.10  108.0  3.0  3.0  4.0  1.0  4.0  ...
50.0    1.0  5.0  2912864.5        38.15  105.0  2.0  3.0  3.5  1.5  4.0  ...
51.0    1.5  1.0   532522.5        39.45  104.0  3.5  3.5  6.0  1.5  2.0  ...
52.0    2.0  1.0   527927.0        39.10   72.0  2.0  NaN  2.0  1.0  2.0  ...
58.0    1.0  1.0   535029.0        39.20   88.0  4.0  4.0  NaN  2.0  5.0  ...
60.0    1.0  1.0   532495.0        38.40  114.0  2.0  3.0  5.0  1.5  4.0  ...
66.0    1.0  1.0   528682.0        39.40   54.0  1.0  1.0  2.0  1.0  2.0  ...
68.0    1.0  1.0   528590.0        38.00   56.0  3.0  1.0  1.0  1.0  3.0  ...
70.0    1.0  5.0   534241.5        38.50  120.0  4.0  NaN  4.0  2.0  2.0  ...
72.0    2.0  9.0  5288249.0        39.00  150.0  NaN  NaN  NaN  NaN  NaN  ...
80.0    1.0  1.0   535338.0        37.80   88.0  3.0  3.0  2.0  2.0  2.5  ...
84.0    1.0  9.0  5292474.0        38.95  174.0  2.5  1.0  3.5  1.5  3.0  ...
88.0    1.0  9.0  5291409.0        38.20  124.0  1.0  3.0  2.0  1.0  2.0  ...
90.0    1.0  1.0  2903107.0        39.30   64.0  2.0  3.0  1.0  1.0  NaN  ...
96.0    1.0  5.0  2903038.5        38.75   99.0  NaN  3.0  3.0  1.0  NaN  ...

        puls joung    eat  ?.4   ?.5  2.2  2.3    11300   00000  00000.1  2.4
breath
8.0           23.0   6.70  3.0   NaN  1.0  1.0   3133.0     0.0      0.0  1.0
9.0           33.0   6.50  NaN   NaN  1.0  2.0  18117.0     0.0      0.0  2.0
10.0          38.0  56.00  1.0  1.00  1.0  2.0      0.0     0.0      0.0  2.0
12.0          42.0   7.00  2.0  1.60  1.0  1.0   2208.0     0.0      0.0  2.0
13.0          60.0   6.30  3.0   NaN  1.0  1.0   2205.0     0.0      0.0  1.0
14.0          35.0  58.00  2.0  2.80  1.0  1.5   3111.0     0.0      0.0  1.5
15.0          65.0   7.50  NaN   NaN  1.0  1.0   2305.0     0.0      0.0  1.0
16.0          43.0   7.50  2.0  2.00  1.0  2.0   2118.0     0.0      0.0  2.0
18.0          46.0   7.45  2.0  2.00  1.0  1.0   2208.5     0.0      0.0  1.5
20.0          41.5   8.30  2.0  2.00  1.0  2.0   2208.5     0.0      0.0  2.0
21.0          42.0   6.75  1.5  4.40  1.0  1.0   3207.0     0.0      0.0  1.0
22.0          50.0  36.50  1.0  6.00  2.5  1.0   3205.0     0.0      0.0  1.5
23.0          36.0   6.60  1.0  3.00  1.0  1.0   3115.0     0.0      0.0  1.0
24.0          46.5   7.50  1.5  2.60  2.0  1.0   2209.0     0.0      0.0  2.0
25.0          37.0  69.00  NaN   NaN  1.0  2.0      0.0     0.0      0.0  2.0
26.0          36.0   6.90  NaN   NaN  1.0  2.0   3111.0     0.0      0.0  2.0
28.0          46.0   7.00  2.0  6.60  1.0  1.5   2111.5     0.0      0.0  1.0
30.0          48.0   7.00  2.0  3.90  1.0  1.0   3111.0     0.0      0.0  2.0
32.0          45.0   7.20  2.0  1.50  1.0  2.0   2124.0     0.0      0.0  2.0
34.0          48.0   7.20  NaN   NaN  1.0  1.0   3111.0     0.0      0.0  2.0
35.0          55.0   7.40  3.0  3.60  2.0  2.0   2205.0     0.0      0.0  2.0
36.0          44.0   7.65  3.0  4.50  2.0  1.0   3158.5     0.0      0.0  1.0
40.0          46.0  50.00  2.0  2.00  1.0  1.0   2208.0     0.0      0.0  2.0
42.0          50.5  30.70  3.0  1.00  1.0  2.0      0.0     0.0      0.0  2.0
44.0          54.0   6.50  3.0   NaN  2.0  1.0   7111.0     0.0      0.0  2.0
48.0          56.5   7.20  2.0  2.45  2.0  1.0   2705.5     0.0      0.0  2.0
50.0          42.5   6.35  NaN   NaN  2.0  1.0   3208.0     0.0      0.0  2.0
51.0          62.5  10.50  2.5  2.30  2.0  1.5   3206.5     0.0      0.0  1.5
52.0          50.0   7.80  NaN   NaN  1.0  1.0   2111.0     0.0      0.0  2.0
58.0           NaN    NaN  2.0  2.00  3.0  2.0   3205.0     0.0      0.0  2.0
60.0          50.0  38.05  2.5   NaN  1.0  1.0   2658.0     0.0      0.0  2.0
66.0          39.0   6.00  2.0   NaN  1.0  1.0   2206.0     0.0      0.0  1.0
68.0          40.0   6.00  NaN   NaN  1.0  1.0   5206.0     0.0      0.0  2.0
70.0          45.0  59.50  1.0  1.00  2.0  1.5   3705.0  1555.5   1104.5  2.0
72.0          47.0   8.50  NaN  0.10  1.0  1.0   9400.0     0.0      0.0  1.0
80.0          40.0   5.70  2.0   NaN  1.0  1.0   3205.0     0.0      0.0  2.0
84.0          40.5   5.25  3.0  5.30  2.0  1.0   4659.5     0.0      0.0  1.5
88.0          47.0   8.00  1.0   NaN  1.0  1.0   9400.0     0.0      0.0  1.0
90.0          39.0   6.70  NaN   NaN  1.0  1.0  26110.0     0.0      0.0  2.0
96.0          43.0   6.10  NaN   NaN  1.5  1.0   2661.0     0.0      0.0  1.5

[40 rows x 27 columns]

In [105]:
print(df.groupby('temperature').median()) # группируем по медианной температуре

               2    1     530101   puls  breath    3  3.1    ?  2.1    5  ...  \
temperature                                                               ...
35.4         1.0  1.0   535407.0  140.0    24.0  3.0  3.0  4.0  2.0  4.0  ...
36.0         2.0  1.0   522979.0   42.0    30.0  NaN  NaN  5.0  1.0  NaN  ...
36.1         2.0  1.0   528702.0   88.0    24.0  3.0  3.0  3.0  1.0  3.0  ...
36.4         1.0  1.0   527518.0   98.0    35.0  3.0  3.0  4.0  1.0  4.0  ...
36.5         1.0  1.0   532297.5   89.0    27.0  2.0  3.0  2.0  1.0  4.0  ...
36.6         2.0  1.0   527940.0   42.0    18.0  3.0  3.0  2.0  1.0  1.0  ...
36.8         1.0  1.0   527933.0   60.0    28.0  NaN  NaN  NaN  NaN  NaN  ...
36.9         2.0  1.0   528620.0   50.0    40.0  2.0  3.0  3.0  1.0  1.0  ...
37.0         1.5  1.0   529124.0   63.0    20.0  2.0  3.0  2.0  1.0  3.5  ...
37.1         1.0  1.0   528743.0   75.0    36.0  3.0  2.0  4.0  1.0  3.0  ...
37.2         2.0  1.0   529642.0   60.0    20.0  2.5  1.5  2.5  1.5  3.0  ...
37.3         1.0  1.0   532505.5   49.0    28.0  1.0  1.0  3.0  1.0  3.0  ...
37.4         1.0  1.0   535330.0   84.0    32.0  2.0  3.0  3.0  1.0  3.0  ...
37.5         2.0  1.0   529603.5   48.0    24.0  2.5  1.0  2.0  1.0  3.0  ...
37.6         1.0  1.0   530366.0   64.0    21.0  3.0  1.0  3.0  1.0  3.0  ...
37.7         1.0  1.0   534135.0   66.0    24.0  2.5  2.0  3.0  1.0  4.0  ...
37.8         1.0  1.0   529424.0   52.0    24.0  1.0  1.0  1.5  1.0  2.0  ...
37.9         2.0  1.0   530401.0   60.0    24.0  1.0  1.0  2.0  1.0  3.0  ...
38.0         1.0  1.0   533819.5   53.0    24.0  2.5  1.0  3.0  1.0  3.0  ...
38.1         1.0  1.0   533918.5   63.0    24.0  3.0  1.5  3.0  1.0  3.0  ...
38.2         1.0  1.0   529939.0   64.0    24.0  3.0  3.0  3.0  1.0  4.0  ...
38.3         1.0  1.0   530526.0   57.0    22.5  3.0  1.0  2.0  1.0  2.0  ...
38.4         1.0  1.0   529340.0   54.0    24.0  1.5  1.0  1.0  1.0  2.0  ...
38.5         1.0  1.0   534029.5   89.0    24.0  2.5  2.5  3.0  1.0  2.5  ...
38.6         2.0  1.0   529815.5   50.0    20.0  2.0  1.0  1.5  1.0  1.5  ...
38.7         1.0  1.0   533696.0   60.0    24.0  2.5  1.0  2.5  1.0  3.0  ...
38.8         1.0  5.0  2913555.5   87.0    38.0  1.0  1.0  1.5  1.0  3.0  ...
38.9         1.0  1.0   531341.5   80.0    37.0  3.0  3.0  2.5  1.5  2.0  ...
39.0         2.0  1.0   529685.0   75.0    38.0  3.0  1.0  5.0  1.5  3.0  ...
39.1         1.5  5.0  2909168.0  118.0    68.0  3.0  1.0  4.0  1.5  2.0  ...
39.2         1.0  1.0   534817.0   88.0    23.0  4.0  3.0  4.0  1.5  3.5  ...
39.3         1.0  1.0   532221.0   64.0    70.5  3.0  3.0  3.5  1.0  3.0  ...
39.4         1.0  1.0   532110.0  110.0    48.0  2.5  2.0  5.0  1.0  2.0  ...
39.5         2.0  1.0  2912829.0   74.0    26.0  3.0  3.0  5.0  1.5  3.0  ...
39.6         2.0  1.0   530002.0  108.0    51.0  3.0  3.0  6.0  2.0  2.0  ...
39.7         1.0  9.0   534092.0  100.0    24.0  3.0  3.0  5.0  2.0  2.0  ...
39.9         1.0  1.0   530157.0   72.0    60.0  1.0  1.0  5.0  2.0  5.0  ...
40.0         2.0  1.0   530624.0   78.0    24.0  3.0  3.0  5.0  1.0  2.0  ...
40.3         2.0  1.0   529461.0  114.0    36.0  3.0  3.0  1.0  2.0  2.0  ...
40.8         1.0  1.0   527734.0   72.0    42.0  3.0  3.0  1.0  1.0  2.0  ...

             otherpuls    eat  ?.4    ?.5  2.2  2.3    11300   00000  00000.1  \
temperature
35.4              57.0  69.00  3.0   2.00  3.0  1.0   3205.0     0.0      0.0
36.0              64.0   6.80  NaN    NaN  2.0  2.0   1400.0     0.0      0.0
36.1              45.0   7.00  3.0   4.80  3.0  1.0   2209.0     0.0      0.0
36.4              47.0   6.40  3.0   3.60  2.0  1.0   2205.0     0.0      0.0
36.5              42.0  40.50  2.5   2.20  1.0  1.0   2660.0  3056.0      0.0
36.6              52.0   7.10  NaN    NaN  2.0  1.0   5111.0     0.0      0.0
36.8              45.0    NaN  NaN  10.00  2.0  1.0   3205.0     0.0      0.0
36.9              37.5   6.50  NaN    NaN  1.0  2.0   3111.0     0.0      0.0
37.0              39.0   7.25  2.0    NaN  2.5  1.0  16659.5     0.0      0.0
37.1              48.0   7.40  3.0   3.20  2.0  1.0   3133.0     0.0      0.0
37.2              44.0   6.80  2.5   3.70  2.0  2.0   4124.0     0.0      0.0
37.3              42.5   7.40  3.0   2.00  1.0  1.0   3205.0     0.0      0.0
37.4              45.0  34.45  2.5   1.00  2.0  1.0   2208.0     0.0      0.0
37.5              42.0   8.60  2.0   1.50  1.0  2.0    200.0     0.0      0.0
37.6              40.0   7.00  1.0   1.50  1.0  1.0   3205.0     0.0      0.0
37.7              45.0  31.25  3.0   1.80  1.0  1.0   2208.0     0.0      0.0
37.8              45.0   7.00  1.5   3.70  1.0  1.0   2205.0     0.0      0.0
37.9              45.0   7.50  3.0   2.00  1.0  1.0   2305.0     0.0      0.0
38.0              45.0   7.80  1.5   2.00  1.0  1.0   2716.5     0.0      0.0
38.1              44.5   7.50  2.0   2.75  2.0  1.0   2660.0     0.0      0.0
38.2              45.0   7.65  2.0   2.00  1.0  1.0   3111.0     0.0      0.0
38.3              43.0   7.10  2.0   3.00  1.0  1.0   2208.5     0.0      0.0
38.4              47.0   7.20  2.0   4.30  1.0  1.0   2300.0     0.0      0.0
38.5              45.0  30.75  1.5   2.15  1.0  1.0   2165.0     0.0      0.0
38.6              39.0   7.00  1.0   3.55  1.0  2.0   1555.5     0.0      0.0
38.7              39.0  62.00  2.0   1.50  1.0  1.0   2205.0     0.0      0.0
38.8              41.5   6.90  3.0    NaN  1.5  1.0   3617.5     0.0      0.0
38.9              50.5   6.50  3.0    NaN  1.5  1.5   4617.5     0.0      0.0
39.0              45.5   7.50  3.0   3.65  1.0  1.0   5200.0     0.0      0.0
39.1              49.0   7.50  3.0   5.30  1.5  1.0   2159.5     0.0      0.0
39.2              45.0   8.80  2.0   2.00  2.0  1.0   2208.0     0.0      0.0
39.3              52.5   6.70  3.0   3.15  1.5  1.0  11658.5     0.0      0.0
39.4              55.0   8.70  1.5   2.00  1.0  2.0   1400.0     0.0      0.0
39.5              41.5   6.55  1.0   3.60  1.5  2.0   1650.0     0.0      0.0
39.6              59.0   8.00  2.0   2.60  1.0  2.0   4300.0     0.0      0.0
39.7              48.0  57.00  2.0   2.00  3.0  1.0   1400.0     0.0      0.0
39.9              46.0   6.10  2.0    NaN  1.0  1.0   2111.0     0.0      0.0
40.0              66.0   6.50  NaN    NaN  2.0  1.0   8400.0     0.0      0.0
40.3              57.0   8.10  3.0   4.50  2.5  1.0   5302.5     0.0      0.0
40.8              54.0   7.40  3.0    NaN  2.0  1.0  11400.0     0.0      0.0

             2.4
temperature
35.4         2.0
36.0         2.0
36.1         1.0
36.4         1.0
36.5         1.5
36.6         2.0
36.8         1.0
36.9         2.0
37.0         1.5
37.1         1.0
37.2         2.0
37.3         2.0
37.4         1.0
37.5         2.0
37.6         2.0
37.7         2.0
37.8         2.0
37.9         2.0
38.0         2.0
38.1         2.0
38.2         2.0
38.3         1.0
38.4         1.0
38.5         2.0
38.6         1.0
38.7         2.0
38.8         2.0
38.9         2.0
39.0         1.0
39.1         1.5
39.2         2.0
39.3         2.0
39.4         2.0
39.5         2.0
39.6         1.0
39.7         2.0
39.9         2.0
40.0         1.0
40.3         1.0
40.8         1.0

[40 rows x 27 columns]

In [ ]:
#Задание 3. Работа с пропусками
#Рассчитать количество пропусков для всех выбранных столбцов. 
#Принять и обосновать решение о методе работы с пропусками по каждому столбцу, 
#сформировать датафрейм, в котором пропуски будут отсутствовать.

'''Для численных(количественых) признаков можно воспользоваться методом принудительного заполнения пропусков. 
Например, на место пропуска можно записать среднее или медианное значение, полученное из остальных записей.
Считаю, что данные о температуре, пульсе и дыхании животных важны, возможно некоторые показатели для лошадей были в норме, 
поэтому при проставлении информации, они оказались пустыми; поэтому NaN-пропуски надо заполнить
 медианным значением столбца по их нормированным показателей. Также можно сгруппировать данные по значениям в столбцах, чтобы убедиться в структурированности данных '''

In [91]:
df = pd.read_csv('horse_data.csv', na_values = '?') # еще раз читаем файл и делаем преобразования
df= df.rename(columns = {'38.50': 'temperature'})
df = df.rename(columns = {'66': 'puls'})
df = df.rename(columns = {'45.00': 'otherpuls'})
df = df.rename(columns = {'28': 'breath'})
df = df.rename(columns = {'8.40': 'eat'}) 
df.temperature.fillna(df.temperature.median(),inplace=True) # заменим Nan-пропуски в столбце температура медианой по температуре
df.puls.fillna(df.puls.median(),inplace=True) # заменим Nan-пропуски в столбце пульс медианой по пульсу
df.otherpuls.fillna(df.otherpuls.median(),inplace=True) # заменим Nan-пропуски в столбце другой пульс медианой по другому пульсу
df.breath.fillna(df.breath.median(),inplace=True) # заменим Nan-пропуски в столбце дыхание медианой по дыханию

In [90]:
df.head(20)

,2,1,530101,temperature,puls,breath,3,3.1,?,2.1,...,otherpuls,eat,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
1,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
2,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
3,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
4,2.0,1,528355,38.2,64.0,NaN,2.0,1.0,3.0,1.0,...,45.0,NaN,NaN,NaN,1.0,2,0,0,0,2
5,1.0,1,526802,37.9,48.0,16.0,1.0,1.0,1.0,1.0,...,37.0,7.0,NaN,NaN,1.0,1,3124,0,0,2
6,1.0,1,529607,38.2,60.0,NaN,3.0,NaN,NaN,1.0,...,44.0,8.3,NaN,NaN,2.0,1,2208,0,0,2
7,2.0,1,530051,38.2,80.0,36.0,3.0,4.0,3.0,1.0,...,38.0,6.2,NaN,NaN,3.0,1,3205,0,0,2
8,2.0,9,5299629,38.3,90.0,NaN,1.0,NaN,1.0,1.0,...,40.0,6.2,1.0,2.2,1.0,2,0,0,0,1
9,1.0,1,528548,38.1,66.0,12.0,3.0,3.0,5.0,1.0,...,44.0,6.0,2.0,3.6,1.0,1,2124,0,0,1
10,2.0,1,527927,39.1,72.0,52.0,2.0,NaN,2.0,1.0,...,50.0,7.8,NaN,NaN,1.0,1,2111,0,0,2
11,1.0,1,528031,37.2,42.0,12.0,2.0,1.0,1.0,1.0,...,45.0,7.0,NaN,NaN,1.0,2,4124,0,0,2
12,2.0,9,5291329,38.0,92.0,28.0,1.0,1.0,2.0,1.0,...,37.0,6.1,1.0,NaN,2.0,2,0,0,0,1
13,1.0,1,534917,38.2,76.0,28.0,3.0,1.0,1.0,1.0,...,46.0,81.0,1.0,2.0,1.0,1,2112,0,0,2
14,1.0,1,530233,37.6,96.0,48.0,3.0,1.0,4.0,1.0,...,45.0,6.8,NaN,NaN,2.0,1,3207,0,0,2
15,1.0,9,5301219,38.2,128.0,36.0,3.0,3.0,4.0,2.0,...,53.0,7.8,3.0,4.7,2.0,2,1400,0,0,1
16,2.0,1,526639,37.5,48.0,24.0,NaN,NaN,NaN,NaN,...,45.0,NaN,NaN,NaN,1.0,2,0,0,0,2
17,1.0,1,5290481,37.6,64.0,21.0,1.0,1.0,2.0,1.0,...,40.0,7.0,1.0,NaN,1.0,1,4205,0,0,1
18,2.0,1,532110,39.4,110.0,35.0,4.0,3.0,6.0,NaN,...,55.0,8.7,NaN,NaN,1.0,2,0,0,0,2
19,1.0,1,530157,39.9,72.0,60.0,1.0,1.0,5.0,2.0,...,46.0,6.1,2.0,NaN,1.0,1,2111,0,0,2

In [115]:
# рассчитаем вновь медианные значения по столбцам и скреднеквадратичное отклонение
print(df.temperature.median())
print(df.puls.median())
print(df.otherpuls.median())
print(df.breath.median())
print(df.temperature.std())
print(df.puls.std())
print(df.otherpuls.std())
print(df.breath.std())

38.2
64.0
45.0
24.0
0.6556567310086665
27.586016078645514
9.92496285417949
16.067835173200855

In [ ]:
# Видим, что отклонения уменьшились,считаю, что данные приведены к более читабельному, чистому виду

In [ ]:
# ПРИМЕЧАНИЕ:ЕСЛИ ЗАМЕНИТЬ NaN НА ЗНАЧЕНИЕ МОДЫ, то почему значения такие же как при замене медианой?
df.temperature.fillna(df.temperature.mode()[0],inplace=True) # заменим Nan-пропуски в столбце температура медианой по температуре
df.puls.fillna(df.puls.mode()[0],inplace=True) # заменим Nan-пропуски в столбце пульс медианой по пульсу
df.otherpuls.fillna(df.otherpuls.mode()[0],inplace=True) # заменим Nan-пропуски в столбце другой пульс медианой по другому пульсу
df.breath.fillna(df.breath.mode()[0],inplace=True) # заменим Nan-пропуски в столбце дыхание медианой по дыханию

In [116]:
# рассчитаем вновь значение моды по столбцам и скреднеквадратичное отклонение
print(df.temperature.mode()[0])
print(df.puls.mode()[0])
print(df.otherpuls.mode()[0])
print(df.breath.mode()[0])
print(df.temperature.std())
print(df.puls.std())
print(df.otherpuls.std())
print(df.breath.std())

38.2
64.0
45.0
24.0
0.6556567310086665
27.586016078645514
9.92496285417949
16.067835173200855