In [1]:
#Задание 1
#Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
#Определите какому фильму было выставлено больше всего оценок 5.0.
import pandas as pd
import numpy as np
df = pd.read_csv('ratings.csv')
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [2]:
x = df.groupby('rating').count()
x
#фильму с идентификатором 15095 выставлено больше всего 5.0

        userId  movieId  timestamp
rating
0.5       1101     1101       1101
1.0       3326     3326       3326
1.5       1687     1687       1687
2.0       7271     7271       7271
2.5       4449     4449       4449
3.0      20064    20064      20064
3.5      10538    10538      10538
4.0      28750    28750      28750
4.5       7723     7723       7723
5.0      15095    15095      15095